.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 162px);
}
.copy {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.f-rade {
  color: #000000;
  text-align: center;
  font-family: "Kufam", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.1em;
  font-weight: 500;
  position: relative;
}
#login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
#sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.field {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  outline: 0;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  height: 40px;
  position: relative;
}
.label {
  color: #828282;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.button {
  background: #000000;
  color:#ffffff;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 400px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.divider {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rectangle-11 {
  background: #e6e6e6;
  flex: 1;
  height: 1px;
  position: relative;
}
.div3 {
  color: #828282;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.rectangle-10 {
  background: #e6e6e6;
  flex: 1;
  height: 1px;
  position: relative;
}
.button2 {
  background: #eeeeee;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.f-rade2 {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: absolute;
  left: calc(50% - 55px);
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.union {
  width: 150px;
  height: 150px;
  object-fit: cover;
}